<div class="banners">
    <div class="container">
        <div data-place-width="1140" data-place-height="80" role="banner">
            <a href="http://ad.kase.kz/click/79">
                <img src="../images/banner-promo.gif" alt="banner">
            </a>
        </div>
    </div>
</div>
<div class="auth">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2 auth__title">
            <h1>Authorisation</h1>
        </div>
        <div class="col-sm-8 col-sm-offset-2 auth__login">
            <form method="post" class="form">
                <fieldset>
                    <label for="username">Username:</label>
                    <input type="text" id="username" class="form-control" name="username" required>
                </fieldset>
                <fieldset>
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" name="username" required>
                </fieldset>
                <fieldset class="login__submit">
                    <div class="wrap">
                        <div>
                            <button type="submit" class="button">
                                <span>
                                    Login
                                </span>
                            </button>
                        </div>
                        <div>
                            <a href="http://kase.kz/en/account/registration/individuals/" class="register">
                                Registration
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
